name: my_workflow

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install uv
          make install
      - name: Run linter
        run: |
          make check
      - name: Run tests with coverage
        run: |
          uv run pytest --cov=gendiff --cov-report=xml --cov-report=html --cov-report=term tests/
      - name: SonarQubeScan
        # Find SHA at: https://github.com/SonarSource/sonarqube-scan-action/releases/tag/v5
        # Or use: git ls-remote https://github.com/SonarSource/sonarqube-scan-action.git refs/tags/v5
        uses: SonarSource/sonarqube-scan-action@d6bf2d082dc6e0f0a47e76fbbc600bd8bb6f11bd
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=adima03_python-project-50
            -Dsonar.organization=adima03
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.coverage.exclusions=tests/**
            -Dsonar.exclusions=tests/**
